<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container">

      <div class="row  justify-content-center">
        <div class="col-lg-6">
          <h3>Station Guide</h3>
          <p>¡Nuestros Servicios y Atención, son completamente para ti!</p>
        </div>
      </div>

      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6">
          <form>
            <input type="email" name="email" placeholder="Correo de Contacto"><input type="submit" value="Empieza Ya" routerLink="/Registro">
          </form>
        </div>
      </div>

      <div class="social-links">
        <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.google.com/intl/es/gmail/about/" target="_blank" class="google-plus"><i class="bi bi-envelope"></i></a>
        <a href="https://crjavier1021.wixsite.com/portafolio/contacto" target="_blank" class="facebook"><i class="bi bi-phone"></i></a>
      </div>

    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>STG</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a>Station Guide Team</a>
    </div>
  </div>
</footer><!-- End Footer -->
