
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Open Sans", sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 16.5px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #283a5ae6;
	background-color: #283a5ae6;
	color: #FFFFFF;
	font-size: 12px;
	//font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	//text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
  font-size: 16px;
	border-color: #FFFFFF;
}

.form-control{
  width: 85%;
  border-radius: 5px;
}

.alert{
  width: 85%;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 6px 5px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1200px;
	max-width: 100%;
	min-height: 700px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #283a5ae6;
	background: -webkit-linear-gradient(to right, #283a5ae6, #283a5ae6);
	background: linear-gradient(to right,#283a5ae6, #283a5ae6);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.espacio{

margin-top: 50px;
}
.br{
  font-size: 18px;
  margin-top: 45px;

}
.br3{
  margin-top: 10px;
  font-size: 18px;
}

.text1{
float:left;
}

.div2{
  float:left;
display:flex;
flex-direction: row;
}
.text2{
  display : flex;
  flex-direction : row;
  font-size: 16px;
}

  .texto{
    font-size: 18px;
    color: #283a5ae6;
  }

  .br1{
    font-size: 16px;
    margin-top: 60px;
    }*/
//------------------------------------------------------
/*    body,
    .signin {
      background-color: #d3d3d3;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
    }

    .login {

      position: relative;
      height: 900px;
      width: 700px;
      margin: auto;
      padding: 60px 60px;
      background: url(https://img.automexico.com/2018/11/02/b09YwtPD/gasolinera-en-mex-03-4171.jpg) no-repeat   center center #505050;
      background-size: cover;
      box-shadow: 0px 30px 60px -5px rgb(2, 2, 2);
     color: #FFF;
    }

    form {
      padding-top: 80px;
    }

    .active {
      border-bottom: 2px solid #ed1111;
    }

    .nonactive {
      color: rgb(255, 255, 255);
    }

    h2 {
      padding-left: 12px;
      font-size: 22px;
      text-transform: uppercase;
      padding-bottom: 5px;
      letter-spacing: 2px;
      display: inline-block;
      font-weight: 100;
    }

    h2:first-child {
      padding-left: 0px;
    }

    span {
      margin-top:10;
      text-transform: uppercase;
      font-size: 12px;
      display: inline-block;
      position: relative;
      top: -65px;
      transition: all 0.5s ease-in-out;
    }

    .text {
      border: none;
      width: 89%;
      padding: 10px 20px;
      display: block;
      height: 15px;
      border-radius: 20px;
      background: rgb(255, 255, 255);
      border: 2px solid rgb(255, 255, 255);
      overflow: hidden;
      margin-top: 15px;
      transition: all 0.5s ease-in-out;
    }

    .text:focus {
      outline: 0;
      border: 2px solid rgb(253, 252, 252);
      border-radius: 20px;
      background: rgb(241, 240, 240);
    }

    .text:focus + span {
      opacity: 0.6;
    }

    input[type="text"],
    input[type="password"] {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
    }



    input {
      display: inline-block;
      padding-top: 20px;
      font-size: 14px;
    }

    h2,
    span,
    .custom-checkbox {
      margin-left: 20px;
      color: #FFF;
    }

    .custom-checkbox {
      -webkit-appearance: none;
      background-color: rgb(255, 249, 249);
      padding: 8px;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      top: 6px;
    }

    .custom-checkbox:checked {
      background-color: rgb(237, 32, 17);
    }

    .custom-checkbox:checked:after {
      content: '\2714';
      font-size: 10px;
      position: absolute;
      top: 1px;
      left: 4px;
      color: #fff;
    }

    .custom-checkbox:focus {
      outline: none;
    }

    label {
      display: inline-block;
      padding-top: 10px;
      padding-left: 5px;
    }

    .signin {
      background-color: #ed1111;
      color: #FFF;
      width: 100%;
      padding: 10px 20px;
      display: block;
      height: 39px;
      border-radius: 20px;
      margin-top: 30px;
      transition: all 0.5s ease-in-out;
      border: none;
      text-transform: uppercase;
    }

    .signin:hover {
      background: #f54040;
      box-shadow: 0px 4px 35px -5px #4082f5;
      cursor: pointer;
    }

    .signin:focus {
      outline: none;
    }

    hr {
      border: 1px solid rgb(255, 255, 255);
      top: 85px;
      position: relative;
    }

    a {
      text-align: center;
      display: block;
      top: 120px;
      position: relative;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
*/


body {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}

.main-head{
  height: 1000px;
  background: #FFF;

}

.sidenav {
  height: 1000%;
  background-color: #6793F4;
  overflow-x: hidden;
  padding-top: 150px;
}


.main {
  padding: 10px 100px;
}

@media screen and (max-height: 4500px) {
  .sidenav {padding-top: 150px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 100%;
  }

  .register-form{
      margin-top: 100%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 50%;
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      left: 0;
  }

  .login-form{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
}

.form-group{
  font-size: 24px;
}

.login-main-text{
  margin-top: 20%;
  padding: 100px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #6793F4 ;
  color: #FFF;
  font-size: 18px;
}

.btn-black:hover{
  background-color: #1EE16F ;
}

.btn-primary{
  background-color: #FFF;
  color: black;
  font-size: 18px;
}

.btn-primary:hover{
  background-color: #6793F4;
  color: white;
}

.alert{
  font-size: 18px;
}
