<!--<br>
<div class="espacio">

  <div class="container" id="container">
    <div class="form-container sign-up-container">

    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Iniciar Sesión</h1>
        <p class="texto" style="text-align: center">Comienza con nosotros, ¡Empieza Ya!</p>

          <label class="br">Ingresa tu Correo Registrado</label>
          <input type="text" class="form-control" placeholder="@gmail.com" name="email" #email="ngModel"
          [(ngModel)]="usuarioModel.email" required>
            <div [hidden]="email.valid || email.pristine"
              class="alert alert-danger">Se requiere el Correo para Iniciar Sesión.

       </div>
        <br>
        <label class="br3">Clave de Acceso</label>
              <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel"
              [(ngModel)]="usuarioModel.password" required>
              <div [hidden]="password.valid || password.pristine"
                  class="alert alert-danger">No quites tu Clave de Acceso, la necesitas.
                </div>
<div class="text1">
        <button type="button" class="br1" (click)="login()">Iniciar Sesión</button>
</div>
        <br>
        <div class="div2">
        <button type="button" class="ghost text2" routerLink="/Inicio">Regresar</button>
      </div>

      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">

        <div class="overlay-panel overlay-right">
          <h1>¡Bienvenido!</h1>
          <p>Ingresa tus credenciales correctamente para poder continuar</p>
          <button type="button" class="ghost" (click)="login()">Crear una Cuenta</button>

        </div>
      </div>
    </div>
  </div>
</div>*-->

<!--<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<br>
<br>
<div class="login">
  <h2 class="active"> Login</h2>


  <form>



    <input type="text" class="text" placeholder="@gmail.com" name="username" #email="ngModel"
     [(ngModel)]="usuarioModel.email" required>
       <div [hidden]="email.valid || email.pristine"
         class="alert alert-danger">Se requiere el Correo para Iniciar Sesión.</div>
     <span>Usuario</span>

    <br>

    <br>

    <input type="password" class="text" placeholder="Password" name="password" #password="ngModel"
    [(ngModel)]="usuarioModel.password" required>
    <div [hidden]="password.valid || password.pristine"
        class="alert alert-danger">No quites tu Clave de Acceso, la necesitas.
      </div>
    <span>Contraseña</span>

    <br>

    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
    <label for="checkbox-1-1">Keep me Signed in</label>

    <button class="signin" (click)="login()">
      Sign In
    </button>


    <hr>
    <br>
    <br>
    <p>Deseas Crear una cuenta Nueva?</p>
    <button type="button" class="signin" routerLink="/Registro">Crear una Cuenta</button>



  </form>

</div>-->

<div class="sidenav">
  <div class="login-main-text">
    <h2>Station Guide<br> Lo mejor de Nosotros para ti</h2>
      <h3>Iniciando Sesión podras continuar.</h3>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form>

          <div class="form-group">
              <label>Ingresa tu Correo de Contacto</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="@gmail.com" name="email" #email="ngModel"
                  [(ngModel)]="usuarioModel.email" required>
                    <div [hidden]="email.valid || email.pristine"
                      class="alert alert-danger">Se requiere el Correo para Iniciar Sesión.
                    </div>
                </div>

           </div>
           <br>

           <div class="form-group">
            <label>Clave de Acceso</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pass" viewBox="0 0 16 16">
                  <path d="M5.5 5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5Zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Z"/>
                  <path d="M8 2a2 2 0 0 0 2-2h2.5A1.5 1.5 0 0 1 14 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-13A1.5 1.5 0 0 1 3.5 0H6a2 2 0 0 0 2 2Zm0 1a3.001 3.001 0 0 1-2.83-2H3.5a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5h-1.67A3.001 3.001 0 0 1 8 3Z"/>
                </svg></span>
                <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel"
              [(ngModel)]="usuarioModel.password" required>
              <div [hidden]="password.valid || password.pristine"
                  class="alert alert-danger">No quites tu Clave de Acceso, la necesitas.
                </div>
              </div>

         </div>

           <br>
           <button type="button" class="btn btn-black btn-lg" (click)="login()">Iniciar Sesión</button>
           <br>
           <br>
           <button type="button" class="btn btn-primary btn-lg" routerLink="/Registro">¿No tienes una cuenta?</button>
        </form>
     </div>
  </div>
</div>


